node_modules
dist
.gitignore

*.md
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store

backend/**/__pycache__
backend/.venv
backend/alembic
backend/alembic.ini
backend/static

# python
__pycache__/
**/__pycache__/
*.pyc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.production