tm-frontend/node_modules
tm-frontend/dist
.gitignore

tm-backend/**/__pycache__
tm-backend/.venv
tm-backend/alembic
tm-backend/alembic.ini
tm-backend/static
frontend/node_modules
backend/**/__pycache__
.idea